<div class="container mt-5">
    <div class="row mt-5" appImageUpload>
        <div class="col-6">
            <div class="form-group">
                <label for="imageupload">Image Upload:</label>
                <input type="file" class="form-control" id="imageupload" accept="image/*">
            </div>
        </div>
        <div class="col-6">
            <img src="" class="img-responsive" style="max-width: 250px">
        </div>
    </div>
    <div class="row mt-5" appImageUpload>
        <div class="col-6">
            <div class="form-group">
                <label for="imageupload1">Image Upload:</label>
                <input type="file" class="form-control" id="imageupload1" accept="image/*">
            </div>
        </div>
        <div class="col-6">
            <img src="" class="img-responsive" style="max-width: 250px">
        </div>
    </div>
    <div class="row mt-5" appImageUpload>
        <div class="col-6">
            <div class="form-group">
                <label for="imageupload2">Image Upload:</label>
                <input type="file" class="form-control" id="imageupload2" accept="image/*">
            </div>
        </div>
        <div class="col-6">
            <img src="" class="img-responsive" style="max-width: 250px">
        </div>
    </div>
</div>

